@if (loading()) {
  Bezig met todo's laden...
} @else if (todo(); as todo) {
  <div class="todo-update-container">

    <mat-card class="todo-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>
          <span><strong>{{ todo.name }}</strong></span>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content class="todo-section">
        <div><small class="grey-text">Omschrijving</small></div>
        <span>{{ todo.description }}</span>
      </mat-card-content>


      <mat-card-content>
        <div class="todo-section">
          <div><small class="grey-text">Tags</small></div>
          <mat-chip-set>
            @for (tag of todo.tags?.split(','); track tag) {
              <mat-chip>{{ tag.trim() }}</mat-chip>
            }
          </mat-chip-set>
        </div>

        <div class="todo-section">
          <div><small class="grey-text">Deadline Datum</small></div>
          <span>{{ todo.deadlineDate || '-' }}</span>
        </div>

        <div class="todo-section">
          <div><small class="grey-text">Completed</small></div>
          <mat-slide-toggle [checked]="todo.completed" (change)="updateTodo($event.checked)">
          </mat-slide-toggle>
        </div>

      </mat-card-content>

      <mat-card-actions align="end">
        <button matButton="outlined" (click)="cancel()">
          Terug naar overzicht
        </button>

        <button matButton="filled" (click)="deleteTodo()">
          Verwijderen
        </button>
      </mat-card-actions>

    </mat-card>

  </div>
} @else {
  <p>Todo niet gevonden.</p>
}
