@if (loading()) {
  Bezig met todo's laden...
}
@else if (todo(); as todo) {
  <div class="todo-update-container">

    <mat-card class="todo-card" appearance="outlined">
      <mat-card-header>

        <mat-card-title>
          {{ todo.name }}
        </mat-card-title>

        <mat-card-subtitle>
          {{ todo.description }}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>

        <div class="todo-section">
          <span class="section-label">Naam</span>
          <div>{{ todo.name }}</div>
        </div>

        <div class="todo-section">
          <span class="section-label">Omschrijving</span>
          <div>{{ todo.description || '-' }}</div>
        </div>

        <div class="todo-section">
          <span class="section-label">Tags</span>

          <mat-chip-set>
            @for (tag of todo.tags?.split(','); track tag) {
              <mat-chip>{{ tag.trim() }}</mat-chip>
            }
          </mat-chip-set>
        </div>

        <div class="todo-section">
          <span class="section-label">Deadline</span>
          <div>{{ todo.deadlineDate || '-' }}</div>
        </div>

        <div class="todo-section">
          <span class="section-label">Status</span>

          <mat-slide-toggle [checked]="todo.completed">
            Voltooid
          </mat-slide-toggle>

        </div>

      </mat-card-content>

      <mat-card-actions align="end">
        <button matButton ="outlined" (click)="cancel()">
          Annuleren
        </button>

        <button matButton="filled" (click)="deleteTodo()">
          Verwijderen
        </button>
      </mat-card-actions>

    </mat-card>

  </div>
} @else {
  <p>Todo niet gevonden.</p>
}
